*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "david Libre", serif;
  font-weight: bold;
  color:rgb(255, 255, 255); 
}
p {font-weight: 300;}

html{background: color  #000000;
  }
  .centrar{ text-align: center;
  }
  @media (min-width: 760px) {
      .iframe-container {
        width: 591px; /* Establecer un ancho máximo para pantallas grandes */
          height: 360px;
        margin: auto; /* Centrar el contenedor en pantallas grandes */
      }
      iframe{
          width: 100%;
          height: 100%;
      }
  }  